format = """
$directory\
$line_break\
$line_break\
[](#ff79c6)\
$os\
$username\
[](bg:#bd93f9 fg:#ff79c6)\
$git_branch\
[](fg:#bd93f9 bg:#ffb86c)\
$git_status\
[](fg:#ffb86c bg:#8be9fd)\
$c\
$elixir\
$elm\
$golang\
$gradle\
$haskell\
$java\
$julia\
$nodejs\
$nim\
$rust\
$python\
$scala\
[](fg:#8be9fd bg:#ff5555)\
$docker_context\
[](fg:#ff5555 bg:#50fa7b)\
$time\
[ ](fg:#50fa7b)\
$fill\
[](fg:#50fa7b)\
$cmd_duration\
[](#bd93f9 bg:#50fa7b)\
$conda\
[  ](#bd93f9)\
$line_break\
$line_break\
$character
"""

# Disable the blank line at the start of the prompt
add_newline = true

# You can also replace your username with a neat symbol like   or disable this
# and use the os module below

palette = 'dracula'

[character]
success_symbol = "[󱞩](bold green)"
error_symbol = "[󱞩](bold red)"
vimcmd_symbol = "[󱞩](bold yellow)"

[line_break]
disabled = false

[fill]
symbol = ' '

[cmd_duration]
style = "bg:#50fa7b"
min_time = 10
format = '[ $duration 󱑂 ]($style)'
show_milliseconds = true

[username]
show_always = true
style_user = "bg:#ff79c6"
style_root = "bg:#ff79c6"
format = '[$user ]($style)'
disabled = false

# An alternative to the username module which displays a symbol that
# represents the current operating system
[os]
style = "bg:#ff79c6"
disabled = false # Disabled by default

[os.symbols]
Macos = " "

[directory]
style = "fg:#bd93f9"
format = "[ $path ]($style)"
truncation_length = 6
truncation_symbol = "…/"
truncate_to_repo = false

# Here is how you can shorten some long paths by text replacement
# similar to mapped_locations in Oh My Posh:
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "  "
"Pictures" = "  "
"~" = "   ~"
"/Users/chase" = "   ~"

# Keep in mind that the order matters. For example:
# "Important Documents" = " 󰈙 "
# will not be replaced, because "Documents" was already substituted before.
# So either put "Important Documents" before "Documents" or use the substituted version:
# "Important 󰈙 " = " 󰈙 "

[c]
symbol = " "
style = "bg:#8be9fd"
format = '[ $symbol ($version) ]($style)'

[docker_context]
symbol = " "
style = "bg:#ff5555"
format = '[ $symbol $context ]($style)'

[elixir]
symbol = " "
style = "bg:#8be9fd"
format = '[ $symbol ($version) ]($style)'

[python]
style = "bg:#8be9fd"
symbol = ' '
format = '[ $symbol ($version) ]($style)'

[conda]
style = "bg:#bd93f9"
symbol = '󰯲 '
format = '[ ($environment) $symbol]($style)( [fallback]($style))'
ignore_base = false

[elm]
symbol = " "
style = "bg:#8be9fd"
format = '[ $symbol ($version) ]($style)'

[git_branch]
symbol = ""
style = "bg:#bd93f9"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "bg:#ffb86c"
format = '[ $all_status$ahead_behind ]($style)'

[golang]
symbol = " "
style = "bg:#8be9fd"
format = '[ $symbol ($version) ]($style)'

[gradle]
style = "bg:#8be9fd"
format = '[ $symbol ($version) ]($style)'

[haskell]
symbol = " "
style = "bg:#8be9fd"
format = '[ $symbol ($version) ]($style)'

[java]
symbol = " "
style = "bg:#8be9fd"
format = '[ $symbol ($version) ]($style)'

[julia]
symbol = " "
style = "bg:#8be9fd"
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = " "
style = "bg:#8be9fd"
format = '[ $symbol ($version) ]($style)'

[nim]
symbol = "󰆥 "
style = "bg:#8be9fd"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = " "
style = "bg:#8be9fd"
format = '[ $symbol ($version) ]($style)'

[scala]
symbol = " "
style = "bg:#8be9fd"
format = '[ $symbol ($version) ]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:#50fa7b"
format = '[ ♥ $time ]($style)'

[palettes.dracula]
background = "#282a36"
current_line = "#44475a"
foreground = "#f8f8f2"
comment = "#6272a4"
cyan = "#8be9fd"
green = "#50fa7b"
orange = "#ffb86c"
pink = "#ff79c6"
purple = "#bd93f9"
red = "#ff5555"
yellow = "#f1fa8c"
